@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --foreground-color: rgb(var(--foreground-rgb));
  --background-color-component: rgb(37 38 43);
  --background-color-component: #0d1117;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 27, 29, 33;
    --background-end-rgb: 27, 29, 33;
  }
}

body {
  color: var(--foreground-color);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}



@layer components {
  .comp-avatar {
    @apply w-fit
    m-auto p-3 rounded-full
    h-20 flex items-center justify-center
  }

  .comp-button {
    @apply bg-blackBack px-4 py-2 border border-transparent
    rounded
    hover:border-slate-700
    hover:bg-blackBack
    active:scale-95;

  }
}
