.admin-layout{
  height: 100vh;
  width: 100vw;
  position: relative;
  /* https://www.cdnfonts.com/search?q=codec */
  /* font-family: "", Courier, 'helvetica'; */
  font-size: 16px;
  font-size: 14px;

  background-color: var(--background-color-component-2);
  background-image: radial-gradient(circle, #051937, #07182f, #0a1627, #0c141f, #0d1117);

  @at-root html {
    --sidenav-width: 70px;
    --header-height: 60px;
    --z-index-layout-sidenav: auto;
    --z-index-layout-header: auto;

    --background-color-component: #0D1117;
    --background-color-component-2: #051937;

  }
  &__sidenav {
    width: var(--sidenav-width);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    transition: width 0.2s ease-in;
    box-sizing: border-box;
    z-index: var(--z-index-layout-sidenav);

    &.active {
      --sidenav-width: 300px;
    }
  }

  &__content {
    padding-left: var(--sidenav-width);
    transition: padding-left 0.2s ease-in;
    height: 100%;
    box-sizing: border-box;

    &.active {
      /* padding-left: 300px; */
      --sidenav-width: 300px;

      .admin-layout__header {
        padding-left: var(--sidenav-width);
      }
    }
  }

  &__header {
    height: var(--header-height);
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    transition: padding-left 0.2s ease-in;
    z-index: var(--z-index-layout-header);
    padding-left: var(--sidenav-width);
  }
  &__main {
    padding-top: var(--header-height);
    height: 100%;
    box-sizing: border-box;

  }
}

.page {
  padding: 16px;
}
