/*@config "tailwind.admin.config.js";*/

/* .login-page {
  background-color: blue;
} */

/* .button {
  background-color: green;
  color: white;
} */

/* .button2:hover {
  background-color: red;
} */

/* .button-estilo {
  @apply login-page;
} */
